{% extends 'base.html' %}
{% block title %}<a href="{% url 'post:post_list' %}" >1일1자랑</a>{% endblock %}
{% block content %}

<form
			action="{% url 'post:post_delete' post_pk=post.pk %}"
			method="POST">
			{% csrf_token %}
            <div class="writebtn" >
				<ol style="text-align: right"><button type="submit" class="btn btn-default" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button></ol>
            </div>
</form>



<div class="row">

		<div id="post-{{ post.pk }}">
			{% include 'include/post.html' with post_type='list' %}

			<!-- 수정,삭제 넣으면 될 위치 -->

		</div>

</div>


  <br>
  <ul class="footer">
    <li><a href="#" class="footer1">고객지원</a></li>
    <li><a href="#" class="footer2">펫키지소개</a></li>
    <li><a href="#" class="footer3">사이트맵</a></li>
    <li><a href="#" class="footer4">문의 help@petkage.co.kr</a></li>
    <li><a href="#" class="footer5">주소     서울시 성동구 행당동 살곶이길 200</a></li>
    <li><a href="#" class="footer6">Copyright Petkage Corp. All rights reserved.</a></li>
  </ul>
  <br>
  <div></div>
  <br>
{% endblock %}
  <!-- jQuery 포함 -->
   <script src="js/jquery-2.1.3.min.js"></script>
   <!-- 부트스트랩 플러그인 포함 -->
   <script src="js/bootstrap.min.js"></script>

